@font-face {
    font-family: 'rabar'; 
    src: url(./Rabar_021.ttf);
}
body {
    background-image: url('./Tbackgrpund.svg');
    font-family: 'rabar', sans-serif;
}
.section-app {
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    text-align: center;
    margin-top: 20vh;
    border: solid black 2px;
}
.section-app h3 {
    color: #0cc0df;
    font-size: 24px;
}
.dastpekrn {
    text-align: center;
    text-decoration: none;
    background-color: #0cc0df;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 16px;
    color: white;
}
.dastpekrn:active {
    background-color: #0aa8b4;
    color: black;
}